body{
    background-image: url(./images/bg.png);
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px
}
.container{
    position: relative;                                                              
    left: 50%;
    top: 150px;
}
.text{
    position: absolute;
    left: 150px;
    top: 150px;
    font-size: medium;
    color: white;
}
.stern1{
    position: absolute;
    top: 80px;
    left: 40px;
}
.stern2{
    position: absolute;
    top: 40px;
    left: 300px;
    z-index: 2;
}
.stern3{
    position: absolute;
    top: 250px;
    left: 80px;
}
.stern4{
position: absolute;
top: 280px;
left: 450px;
}
div>img:hover{
    background-image: url(./images/stern_hover.png);
}