body{
    background-image: url(./images/bg.png);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
}
.container{
    position: relative;                                                              
    left: 50%;
    top: 150px;
}
.zeile_1{
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 10px;
    position: absolute;
    width: 35%;
    top: 100px;
    left: 30px;
}
.zeile_2{
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 10px;
    position: absolute;
    width: 35%;
    top: 170px;
    left: 30px;
   }
