body{
    background-image: url(./images/bg.png);
    font-family: 'rosseregular'
}
.container{
    position: relative;                                                              
    left: 50%;
    top: 150px;
}
@font-face {
    font-family: 'rosseregular';
    src: url(./EIA1-WiSe19-20/Aufgabe_3/Station_4_Fonts/fonts/rosse-webfont.woff2) format('woff2'),
         url(./EIA1-WiSe19-20/Aufgabe_3/Station_4_Fonts/fonts/rosse-webfont.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}
.text{
    color: white;
    position: absolute;
    top: 150px;
    left: 50px;
}