body{
    background-image: url(./images/bg.png);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: relative;                                                              
    left: 50%;
    top: 150px;
}
.video{
    position: absolute;
    top: 40px;
    left: 20px;
}
.banderole{
    position: absolute;
    top: 270px;
    left: 360px;
}